.sidenav {
    overflow:scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #263238; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #263238; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #263238; 
}

.site-navbar-small .site-menubar{
    height: 100%;
}