/** PAGINATION **/
.pagination {
    padding-top:10px;
}

.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;

}

.pagination li {
    color: #000 !important;
    background-color: #e4eaec;
}

.pagination li.active {
    background-color: #007bff !important;
}

.pagination li.active > a {
    color: #fff !important;
}

.pagination li > a {
    color: #000 !important;
}

.pagination a:hover {background-color: #007bff; color: #fff !important}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/** CHART **/
.h-400 {
    height: 200px !important;
}
.ct-label.ct-vertical.ct-start {
    color: #000;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    color: #000;
}


